<div class="scrollbar-container">
    <div *ngIf="_marketNames.length > 1" class="form-group scrollbar-container-child">
        <label class="label label-success">{{_marketNames.length}} markets listed</label>
        <input type="text" class="search-input" name="filter" id="market-filter" placeholder="search engine" [(ngModel)]="filter">
        <div class="scroll-bar">
            <div *ngFor="let market of _marketNames | searchMarket:filter" class="market-list-item">
                <div>
                    {{ market }}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="_marketNames.length === 0">
        {{_marketMsg}}
    </div>
</div>