<div class="market-name-title">
  <h1 class="market-name-title">Markets Name Test</h1>
</div>
<hr>
<div class="row">
  <div class="col-md-3 market-name-col">
    <h4>Bittrex Markets Name</h4>
    <div *ngFor="let market of _bittrexMarketsNames">
      {{ market }}
    </div>
  </div>
  <div class="col-md-3 market-name-col">
    <h4>Poloniex Markets Name</h4>
    <div *ngFor="let market of _poloniexMarketsNames">
      {{ market }}
    </div>
  </div>
  <div class="col-md-3">
    
  </div>
  <div class="col-md-3">
    
  </div>
</div>

