<div class="bittrex-currencies-container">
    <div class="bittrex-currencies-sub-container" *ngIf="_currencies.length > 0">
        <div class="bittrex-currencies-title">
            <h3 class="bittrex-currencies-title"><strong> Bittrex Currencies</strong></h3>
        </div>
        <div>
            <input type="text" placeholder="search engine" class="search-input" [(ngModel)]="filter">
        </div>
        <div class="scroll-bar">
            <div class="bittrex-currencies" *ngFor="let currency of _currencies |searchCurrencies:filter">
                <h3><label class="label label-default">{{currency.CurrencyLong}}</label></h3>
                <div class="bittrex-info">
                    <label class="label label-info" for="bittrex-info-content">Currency</label>
                    <span id="bittrex-info-content">{{currency.Currency}}</span>
                </div>
                <div class="bittrex-info">
                    <label class="label label-info" for="bittrex-info-content">Minimum confirmation</label>
                    <span id="bittrex-info-content">{{currency.MinConfirmation}}</span>
                </div>
                <div class="bittrex-info">
                    <label class="label label-info" for="bittrex-info-content">Tx fee</label>
                    <span id="bittrex-info-content">{{currency.TxFee}}</span>
                </div>
                <div class="bittrex-info">
                    <label class="label label-info" for="bittrex-info-content">Coin is active</label>
                    <span id="bittrex-info-content">{{currency.IsActive}}</span>
                </div>
                <div class="bittrex-info">
                    <label class="label label-info" for="bittrex-info-content">Coin type</label>
                    <span id="bittrex-info-content">{{currency.CoinType}}</span>
                </div>
                <div class="bittrex-info" *ngIf="currency.BaseAddress">
                    <label class="label label-info" for="bittrex-info-content">Base address</label>
                    <span id="bittrex-info-content">{{currency.BaseAddress}}</span>
                </div>
                <div class="bittrex-info" *ngIf="currency.Notice">
                    <label class="label label-info" for="bittrex-info-content">Notices</label>
                    <span id="bittrex-info-content">{{currency.Notice}}</span>
                </div>
            </div>
        </div>

    </div>
</div>