<div class="scrollbar-container">
    <div *ngIf="_marketNames.length > 0" class="scrollbar-container-child">
        <div class="currencies-title">
            <h3 class="currencies-title"><strong> {{_exchangeName}} markets name</strong></h3>
        </div>
        <div>
            <input type="text" class="search-input" name="filter" id="market-filter" placeholder="search engine" [(ngModel)]="filter">
        </div>

        <div class="scroll-bar">
            <div *ngFor="let market of _marketNames | searchMarketName:filter let i =index" class="market-list-item">
                <div>
                    <label class="label label-info" for="bittrex-info-content">{{i+1}}</label> {{ market }}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="_marketNames.length === 0">
        {{_marketMsg}}
    </div>
</div>