<div class="scrollbar-container">
    <div class="currencies-title">
        <h3 class="currencies-title"><strong> {{_exchangeName}} markets name</strong></h3>
    </div>
    <div *ngIf="_marketNames.length > 0" class="scrollbar-container-child">
        <h3> <label class="label label-default">{{_marketNames.length}} markets listed</label></h3>
        <input type="text" class="search-input" name="filter" id="market-filter" placeholder="search engine" [(ngModel)]="filter">
        <div class="scroll-bar">
            <div *ngFor="let market of _marketNames | searchMarket:filter" class="market-list-item">
                <div>
                    {{ market }}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="_marketNames.length === 0">
        {{_marketMsg}}
    </div>
</div>