<div class="market-name-title">
  <h1 class="market-name-title">Markets Name Test</h1>
</div>
<hr>
<div class="row">
  <div class="col-md-3 market-name-col">
    <label class="label label-default">Bittrex Markets Name</label>
    <div style="overflow-y: scroll; height:200px;">
      <div *ngFor="let market of _bittrexMarketsNames">
        {{ market }}
      </div>
    </div>
  </div>
  <div class="col-md-3 market-name-col">
    <label class="label label-default">Poloniex Markets Name</label>
    <div style="overflow-y: scroll; height:200px;">
      <div *ngFor="let market of _poloniexMarketsNames">
        {{ market | underscoreToDash}}
      </div>
    </div>

  </div>
  <div class="col-md-3  market-name-col">
    <label class="label label-default">Yobit Markets Name</label>
    <div style="overflow-y: scroll; height:200px;">
      <div *ngFor="let market of _yobitMarketsNames">
        {{ market | underscoreToDash | uppercase }}
      </div>
    </div>
  </div>
  <div class="col-md-3">
     <!--
    <div style="overflow-y: scroll; height:200px;">

    </div>
    -->
  </div>
</div>