<div class="market-test-name-container">
    <div class="market-name-title">
        <h1 class="market-name-title"><strong> Markets Name</strong></h1>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 market-name-col">
            <label class="label label-default label-custom">Bittrex</label><br>
            <app-test-market-name [_marketNames]="_bittrexMarketsNames" [_marketMsg]="_bittrexMsg" [_pipesOptions]=""></app-test-market-name>
        </div>
        <div class="col-md-3 market-name-col">
            <label class="label label-default label-custom">Poloniex</label><br>
            <app-test-market-name [_marketNames]="_poloniexMarketsNames" [_marketMsg]="_poloniexMsg" [_pipesOptions]="_pipesOptions.underscoreToDash"></app-test-market-name>
        </div>
        <div class="col-md-3  market-name-col">
            <label class="label label-default label-custom">Yobit</label><br>
            <app-test-market-name [_marketNames]="_yobitMarketsNames" [_marketMsg]="_yobitMsg" [_pipesOptions]="_pipesOptions.all"></app-test-market-name>
        </div>
        <div class="col-md-3  market-name-col">
            <label class="label label-default label-custom">Hitbtc</label><br>
            <app-test-market-name [_marketNames]="_hitbtcMarketsNames" [_marketMsg]="_hitbtcMsg" [_pipesOptions]=""></app-test-market-name>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3  market-name-col">
            <label class="label label-default label-custom">Cryptopia</label><br>
            <app-test-market-name [_marketNames]="_cryptopiaMarketsNames" [_marketMsg]="_cryptopiaMsg" [_pipesOptions]="_pipesOptions.slashToDash"></app-test-market-name>
        </div>
        <div class="col-md-3  market-name-col">
            <label class="label label-default label-custom">C-cex</label><br>
            <app-test-market-name [_marketNames]="_ccexMarketsNames" [_marketMsg]="_ccexMsg" [_pipesOptions]="_pipesOptions.invertPairKey"></app-test-market-name>
        </div>
        <div class="col-md-3  market-name-col">
            <label class="label label-default label-custom">Exmo</label><br>
            <app-test-market-name [_marketNames]="_exmoMarketsNames" [_marketMsg]="_exmoMsg" [_pipesOptions]="_pipesOptions.underscoreToDash"></app-test-market-name>
        </div>
        <div class="col-md-3  market-name-col">
            <label class="label label-default label-custom">NovaExchange</label><br>
            <app-test-market-name [_marketNames]="_novaExchangeMarketsNames" [_marketMsg]="_novaExchangeMsg" [_pipesOptions]="_pipesOptions.underscoreToDash"></app-test-market-name>
        </div>
    </div>
</div>